<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/css/style_dashboard.css" rel="stylesheet">
</head>
<body>
<div th:replace="blocks/header"></div>

<div id="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="mt-5">Добро пожаловать на платформу "Онлайн-Аукцион"</h1>
                <p class="lead">Дальнейшие действия осуществляются по кнопкам в шапке сайта</p>
                <p class="lead"></p>
                <h2 class="mt-5">Правила администратора на платформе:</h2>
                <div class="rule">
                    <p><strong>1. Проверка лотов:</strong> Администратор обязан проверять все новые лоты, добавляемые продавцами, на соответствие правилам и точность описания.</p>
                </div>
                <div class="rule">
                    <p><strong>2. Модерация изображений:</strong> Администратор должен проверять изображения товаров на подлинность и соответствие описанию.</p>
                </div>
                <div class="rule">
                    <p><strong>3. Одобрение и отклонение лотов:</strong> Администратор имеет право одобрять или отклонять лоты, основываясь на их соответствии правилам платформы.</p>
                </div>
                <div class="rule">
                    <p><strong>4. Управление пользователями:</strong> Администратор может блокировать или удалять аккаунты пользователей при неоднократных нарушениях правил платформы.</p>
                </div>
                <div class="rule">
                    <p><strong>5. Поддержка пользователей:</strong> Администратор обязан отвечать на запросы и вопросы пользователей в разумные сроки.</p>
                </div>
                <div class="rule">
                    <p><strong>6. Контроль за завершением лотов:</strong> Администратор должен следить за завершением лотов и правильностью проведения аукционов.</p>
                </div>
                <div class="rule">
                    <p><strong>7. Обеспечение безопасности сделки:</strong> Администратор обязан быть гарантом сделки продавца и покупателя, если это решение обеих сторон.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {
        function loadContent(url, container) {
            $(container).empty();
            $(container).load(url, function(response, status, xhr) {
                if (status == "error") {
                    console.error("Ошибка загрузки: " + xhr.status + " " + xhr.statusText);
                }
            });
        }

        $('body').on('click', '.loadLots', function(e) {
            e.preventDefault();
            loadContent('/products', '#content');
        });

        $('body').on('click', '.loadUsers', function(e) {
            e.preventDefault();
            loadContent('/accounts', '#content');
        });

        $('body').on('click', '.loadCategories', function(e) {
            e.preventDefault();
            loadContent('/categories', '#content');
        });
    });
</script>
</body>
</html>
