<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="blocks/header"></div>

<div id="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="mt-5">Добро пожаловать на платформу "Онлайн - Аукцион"</h1>
                <p class="lead">Дальнейшие действия осуществляйте по кнопкам в шапке сайта</p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {
        $('body').on('click', '.loadLots', function() {
            loadLots();
        });

        $('body').on('click', '.loadUsers', function() {
            loadUsers();
        });

        $('body').on('click', '.loadCategories', function() {
            loadCategories();
        });

        function loadLots() {
            console.log('Загрузка лотов...');
            $('#content').empty();
            $('#content').load('/products', function(response, status, xhr) {
                if (status == "error") {
                    console.error("Ошибка при загрузке: " + xhr.status + " " + xhr.statusText);
                }
            });
        }

        function loadUsers() {
            console.log('Загрузка аккаунтов пользователей...');
            $('#content').empty();
            $('#content').load('/accounts', function(response, status, xhr) {
                if (status == "error") {
                    console.error("Ошибка при загрузке: " + xhr.status + " " + xhr.statusText);
                }
            });
        }

        function loadCategories() {
            console.log('Загрузка категорий...');
            $('#content').empty();
            $('#content').load('/categories', function(response, status, xhr) {
                if (status == "error") {
                    console.error("Ошибка при загрузке: " + xhr.status + " " + xhr.statusText);
                }
            });
        }
    });
</script>
</body>
</html>
