<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="blocks/header"></div>

<div id="content"/></div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    function loadCategoryPage() {
        $('#content').load('/categories');
    }
    function loadUsers() {
        $('#content').load('/accounts');
    }
    function loadLots(){
        $('#content').load('/products')
    }
</script>
</body>
</html>
