<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Активные лоты</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script> <!-- Подключение Bootstrap JS -->
</head>
<body>
<div class="container mt-3">
    <h2>Активные лоты</h2>
    <div class="form-group">
        <div class="form-group">
            <label for="searchKeyword">Поиск:</label>
            <input type="text" class="form-control" id="searchKeyword" placeholder="Введите ключевое слово">
            <button type="button" class="btn btn-primary mt-2" id="searchButton">Поиск</button>
        </div>
        <label for="categoryFilter">Фильтр по категории:</label>
        <select class="form-control" id="categoryFilter">
            <option value="">Все категории</option>
        </select>
    </div>
    <div class="row" id="lotsContainer"></div>
</div>

<!-- Модальное окно для деталей лота -->
<div class="modal fade" id="lotDetailsModal" tabindex="-1" aria-labelledby="lotDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lotDetailsModalLabel">Детали лота</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="lotDetailsBody">
                <!-- Здесь будут детали лота -->
            </div>
            <div class="modal-footer" id="lotDetailsFooter">
                <!-- Здесь только одно поле для ввода ставки и одна кнопка -->
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно подтверждения ставки -->
<div class="modal fade" id="bidConfirmationModal" tabindex="-1" aria-labelledby="bidConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bidConfirmationModalLabel">Ставка размещена</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Ставка успешно размещена!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>
    var statusTranslations = {
        'AWAITING_CONFIRMATION_LOT': 'Ожидает подтверждения',
        'ACTIVE_LOT': 'Активный',
        'COMPLETED_LOT': 'Завершен'
    };

    $(document).ready(function() {
        loadCategories();
        loadActiveLots();

        $('#lotDetailsModal').on('click', '#placeBidButton', function() {
            var lotId = $('#lotDetailsBody').data('lot-id');
            var bidAmount = $('#bidAmount').val();
            if (!bidAmount) {
                alert("Пожалуйста, введите сумму ставки.");
                return;
            }

            $.ajax({
                url: '/bids',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    lotId: lotId,
                    bidAmount: bidAmount
                }),
                success: function(response) {
                    $('#lotDetailsModal').modal('hide');
                    $('#bidConfirmationModal').modal('show'); // Отображение модального окна подтверждения ставки
                    updateLotDetails(lotId); // Обновление данных лота на странице
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    alert("Произошла ошибка при размещении ставки. Пожалуйста, попробуйте еще раз.");
                }
            });
        });

        function updateLotDetails(lotId) {
            $.getJSON('/lots/' + lotId, function(lot) {
                var card = $('.lot-details-button[data-lot-id="' + lotId + '"]').closest('.card');
                card.find('.card-title').text(lot.nameLots);
                card.find('.card-text').eq(0).text(lot.descriptionLots);
                card.find('.card-text').eq(1).text('Текущая цена: ' + (lot.currentPrice || 'Ставки еще не сделаны'));
            });
        }

        // function showLotDetails(lotId) {
        //     console.log("Отработал ыерхний метод")
        //     $.getJSON('/lots/' + lotId, function(lot) {
        //         $.getJSON('/category/' + lot.categoryId, function(category) {
        //             var modalBody = $('#lotDetailsBody');
        //             modalBody.data('lot-id', lot.id); // Установка data-lot-id для modalBody
        //             modalBody.empty(); // Очищаем содержимое модального окна перед добавлением новых элементов
        //             modalBody.html(
        //                 '<img src="' + (lot.hasImage ? '/lots/' + lot.id + '/image' : '/placeholder.jpg') + '" class="img-fluid mb-3" alt="Изображение лота">' +
        //                 '<p><strong>Наименование:</strong> ' + lot.nameLots + '</p>' +
        //                 '<p><strong>Категория:</strong> ' + category.nameCategory + '</p>' +
        //                 '<p><strong>Описание:</strong> ' + lot.descriptionLots + '</p>' +
        //                 '<p><strong>Стартовая цена:</strong> ' + lot.startPrice + '</p>' +
        //                 '<p><strong>Текущая цена:</strong> ' + (lot.currentPrice != null ? lot.currentPrice : 'Ставки еще не сделаны') + '</p>' +
        //                 '<p><strong>Шаг цены:</strong> ' + lot.stepPrice + '</p>' +
        //                 '<p><strong>Дата публикации:</strong> ' + lot.publicationDate + '</p>' +
        //                 '<p><strong>Дата закрытия:</strong> ' + lot.closingDate + '</p>' +
        //                 '<p><strong>Состояние:</strong> ' + lot.conditionLots + '</p>' +
        //                 '<p><strong>Статус:</strong> ' + statusTranslations[lot.statusLots] + '</p>' +
        //                 '<hr>' +
        //                 '<input type="number" id="bidAmount" class="form-control" placeholder="Введите сумму ставки">' +
        //                 '<button type="button" class="btn btn-primary" id="placeBidButton">Сделать ставку</button>'
        //             );
        //             $('#lotDetailsModal').modal('show');
        //         });
        //     });
        // }

        $('#categoryFilter').change(function() {
            var selectedCategory = $(this).val();
            var keyword = $('#searchKeyword').val().trim(); // Получаем текущее значение поля поиска
            loadActiveLots(selectedCategory, keyword); // Обновляем лоты с учетом категории и ключевого слова
        });
    });

    // Загрузка списка категорий
    function loadCategories() {
        $.getJSON('/category', function(categories) {
            var categorySelect = $('#categoryFilter');
            categories.forEach(function(category) {
                categorySelect.append($('<option>').val(category.id).text(category.nameCategory));
            });
        });
    }

    function loadActiveLots(categoryId = '', keyword = '') {
        var url = '/lots/active/search';
        var params = {};

        if (categoryId) {
            params.categoryId = categoryId;
        }
        if (keyword) {
            params.keyword = keyword;
        }

        $.getJSON(url, params)
            .done(function(allLots) {
                var lotsContainer = $('#lotsContainer');
                lotsContainer.empty();

                if (allLots.length === 0) {
                    lotsContainer.append('<p>Лоты не найдены!</p>');
                } else {
                    allLots.forEach(function(lot) {
                        var cardHtml = buildLotCard(lot);
                        lotsContainer.append(cardHtml);
                    });
                }

                $('.lot-details-button').click(function() {
                    var lotId = $(this).data('lot-id');
                    showLotDetails(lotId, allLots);
                });
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                console.error('Ошибка загрузки лотов: ', textStatus, errorThrown);
                $('#lotsContainer').empty().append('<p>Произошла ошибка при загрузке лотов!</p>');
            });
    }

    $('#searchButton').click(function() {
        var keyword = $('#searchKeyword').val().trim();
        var selectedCategory = $('#categoryFilter').val();
        loadActiveLots(selectedCategory, keyword);
    });

    // function filterUserBids(lots, callback) {
    //     $.getJSON('/bids/my', function(userBids) {
    //         var filteredLots = lots.filter(function(lot) {
    //             return !userBids.some(function(bid) {
    //                 return bid.lotId === lot.id;
    //             });
    //         });
    //         callback(filteredLots);
    //     });
    // }

    function buildLotCard(lot) {
        return '<div class="col-md-4">' +
            '<div class="card">' +
            '<img src="' + (lot.hasImage ? '/lots/' + lot.id + '/image' : '/placeholder.jpg') + '" class="card-img-top" alt="Изображение лота">' +
            '<div class="card-body">' +
            '<h5 class="card-title">' + lot.nameLots + '</h5>' +
            '<p class="card-text">' + lot.descriptionLots + '</p>' +
            '<p class="card-text">Текущая цена: ' + (lot.currentPrice || 'Ставки еще не сделаны') + '</p>' +
            '<button type="button" class="btn btn-primary lot-details-button" data-lot-id="' + lot.id + '">Подробнее</button>' +
            '</div>' +
            '</div>' +
            '</div>';
    }

    function showLotDetails(lotId, lots) {
        console.log("Отработал нижиний метод")
        var lot = lots.find(function(item) {
            return item.id === lotId;
        });

        if (lot) {
            $.getJSON('/category/' + lot.categoryId, function(category) {
                var modalBody = $('#lotDetailsBody');
                modalBody.data('lot-id', lot.id);
                modalBody.empty();
                modalBody.html('<img src="' + (lot.hasImage ? '/lots/' + lot.id + '/image' : '/placeholder.jpg') + '" class="img-fluid mb-3" alt="Изображение лота">' +
                    '<p><strong>Наименование:</strong> ' + lot.nameLots + '</p>' +
                    '<p><strong>Категория:</strong> ' + category.nameCategory + '</p>' +
                    '<p><strong>Описание:</strong> ' + lot.descriptionLots + '</p>' +
                    '<p><strong>Стартовая цена:</strong> ' + lot.startPrice + '</p>' +
                    '<p><strong>Текущая цена:</strong> ' + (lot.currentPrice != null ? lot.currentPrice : 'Ставки еще не сделаны') + '</p>' +
                    '<p><strong>Шаг цены:</strong> ' + lot.stepPrice + '</p>' +
                    '<p><strong>Дата публикации:</strong> ' + lot.publicationDate + '</p>' +
                    '<p><strong>Дата закрытия:</strong> ' + lot.closingDate + '</p>' +
                    '<p><strong>Состояние:</strong> ' + lot.conditionLots + '</p>' +
                    '<p><strong>Статус:</strong> ' + statusTranslations[lot.statusLots] + '</p>' +
                    '<p><strong>Продавец:</strong> ' + lot.sellerDetails.name + ' ' + lot.sellerDetails.surname + ' - email - ' + lot.sellerDetails.email + '</p>' +
                    '<p><strong>Покупатель:</strong> ' + (lot.buyerDetails ? (lot.buyerDetails.name + ' ' + lot.buyerDetails.surname) : 'Покупатель еще не назначен') + '</p>' +
                    '<hr>' +
                    '<p>Введите сумму ставки:</p>' +
                    '<input type="number" id="bidAmount" placeholder="Введите сумму ставки">' +
                    '<button type="button" class="btn btn-primary" id="placeBidButton">Сделать ставку</button>');

                $('#lotDetailsModal').modal('show');
            });
        }
    }

</script>
</body>
</html>
