<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>Авторизация</h2>
            </div>
            <div class="card-body">
                <form action="/auth/login" method="post">
                    <div id="error-message" class="error-message"></div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="login" name="login" placeholder="Логин" required>
                    </div>
                    <div class="form-group" style="position: relative;">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Пароль" required>
                        <i class="bi bi-eye-slash" id="togglePassword" style="position: absolute; right: 15px; top: 45%; transform: translateY(-50%); cursor: pointer;"></i>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Войти</button>
                    <p class="text-center mt-3 mb-0"><a href="/auth/register" class="btn-link">Зарегистрироваться</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('error');
        const blocked = urlParams.get('blocked');

        if (error) {
            document.getElementById("error-message").innerText = "Неверный логин или пароль. Попробуйте снова.";
            document.getElementById("error-message").style.display = 'block';
        }
        if (blocked) {
            document.getElementById("error-message").innerText = "Ваш аккаунт заблокирован, свяжитесь с администратором по эл. почте: admin123@gmail.com";
            document.getElementById("error-message").style.display = 'block';
        }
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');
        togglePassword.addEventListener('click', () => {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            togglePassword.classList.toggle('bi-eye');
            togglePassword.classList.toggle('bi-eye-slash');
        });
    });
</script>
</body>
</html>
